.pie-chart {
    background-color: white;
}

.pie-chart-svg {
    width: 100%;
    height: 100%;
    margin: 8px 8px 8px 8px;
}

.pie-chart-container-vertical {
    display: flex;
    flex-direction: column;
}

.pie-chart-container-horizontal {
    display: flex;
    align-content: space-between;
    flex-direction: row;
}

.pie-chart-labels {
    margin: 8px 8px 8px 8px;
    width: 25%;
    align-self: center;
}

.pie-chart-label {
    text-anchor: middle;
}

.pie-chart-label-svg {
    width: 13px;
    height: 13px;
    margin-right: 4px;
}