.dataBlock1{
    stroke-width:1px;
}
.dataBlock1-text{
    fill:rgb(0, 0, 0);
}
.dataBlock2{
    stroke-width:1px;
}
.dataBlock2-text{
    fill:rgb(0, 0, 0);
}
.dataBlock3{
    stroke-width:1px;
}
.dataBlock3-text{
    fill:rgb(0, 0, 0);
}
.dataBlock4{
    stroke-width:1px;
}
.dataBlock4-text{
    fill:rgb(0, 0, 0);
}
.dataBlock5{
    stroke-width:1px;
}
.dataBlock5-text{
    fill:rgb(0, 0, 0);
}
.yAxis{
    fill:rgb(0, 0, 0);
}
.background{
    stroke:rgb(0, 255, 85);
    fill:rgb(255, 255, 255);
    stroke-width:2px;
}
.backgroundLines{
    stroke-width:1px;
    opacity:0.8;
    stroke:rgb(131, 131, 131);
}
.yAxisInfos{
    fill:rgb(0, 0, 0);
}
.xAxisInfos{
    fill:rgb(0, 0, 0);
}
.xAxisInfos-text{
    fill:rgb(0, 0, 0);
}