.yAxis{
    fill:rgb(0, 0, 0);
}
.background{
    stroke:rgb(0, 255, 85);
    fill:rgb(255, 255, 255);
    stroke-width:2px;
}
.backgroundLines{
    stroke-width:1px;
    opacity:0.8;
    stroke:rgb(131, 131, 131);
}
.yAxisInfos{
    fill:rgb(0, 0, 0);
}
.xAxisInfos{
    fill:rgb(0, 0, 0);
}
.xAxisInfos-text{
    fill:rgb(0, 0, 0);
}