.dataBlock1{
    stroke:rgb(33, 116, 17);
    fill:rgb(33, 116, 17);
    stroke-width:1px;
}
.dataBlock1-text{
    fill:rgb(33, 116, 17);
}
.dataBlock2{
    stroke:rgb(0, 195, 255);
    fill:rgb(0, 195, 255);
    stroke-width:1px;
}
.dataBlock2-text{
    fill:rgb(0, 195, 255);
}
.dataBlock3{
    stroke:rgb(17, 0, 255);
    fill:rgb(17, 0, 255);
    stroke-width:1px;
}
.dataBlock3-text{
    fill:rgb(17, 0, 255);
}
.dataBlock4{
    stroke:rgb(255, 196, 0);
    fill:rgb(255, 196, 0);
    stroke-width:1px;
}
.dataBlock4-text{
    fill:rgb(255, 196, 0);
}
.dataBlock5{
    stroke:rgb(255, 0, 0);
    fill:rgb(255, 0, 0);
    stroke-width:1px;
}
.dataBlock5-text{
    fill:rgb(255, 0, 0);
}
.title{
    fill:rgb(126, 126, 126);
}
.subtitle{
    fill:rgb(126, 126, 126);
}
.yAxis{
    fill:rgb(126, 126, 126);
}
.background{
    stroke:rgb(0, 255, 85);
    fill:rgb(255, 255, 255);
    stroke-width:2px;
}
.backgroundLines{
    stroke-width:1px;
    opacity:0.8;
    stroke:rgb(131, 131, 131);
}
.yAxisInfos{
    fill:rgb(0, 131, 131);
}
.xAxisInfos{
    stroke:rgb(0, 0, 131);
}
.xAxisInfos-text{
    fill:rgb(0, 0, 131);
}